*~
.htaccess
IMG
tmp
local
TAGS
*.3gp
*.avi
*.div
*.flv
*.img
*.iso
*.mpg
*.mpeg
*.mp4
*.m3u
*.m4v
*.mov
*.rar
*.vob
*.wmv
*.xvid
*.bmp
*.gif
*.ico
*.jpg
*.jpeg
*.pcx
*.tiff
*.zip
*.rar
*.png
*.mp3
*.gz
# les fichiers css générés par sass :
squelettes/habillage.css
squelettes/styles.css
squelettes/.sass-cache